
.kontenjer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    background-color: 0A075F;
  }
  

  .prviDeo, .drugiDeo, .treciDeo {
    flex: 1;
    padding: 10px;
  }
  

  .prviDeo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .prviDeo .tekstLevo {
    text-align: left;
  }
  
  .prviDeo .img1 {
    margin-right: 10px;
  }
  
 
  .drugiDeo ul {
    list-style-type: none;
    padding: 0;
   
  }
  
  .drugiDeo li {
    margin-bottom: 10px;
    width: 200px;
  }
  

  .treciDeo {
    text-align: left;
  }

  .img1{
    width: 25px;
    height: 25px;
}

li {
    display: inline-block;
 }


.forma{
  display: flex;
  align-items: center;
}

.forma input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 20px; 
  font-size: 16px;
  margin-right: 10px;
  background-color: #fff;
}

.dugmence {
  width: 100px;
  height: 40px;
  background-color: #c71eb3;
  color: #fff;
  border: none;
  border-radius: 20px; 
  font-size: 16px;
  cursor: pointer;
}
  
 
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
    }
  
    .prviDeo, .drugiDeo, .treciDeo {
      width: 100%;
      margin-bottom: 20px;
    }
  }
