.searchiFiler {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #0A075F;
    height: 150px;
    border-radius: 30px;
}

.naslovKarte {
    color: #6435D1;
    text-align: center;
}


.dugmeFilter{
    display: flex;
    padding: 40px;
    gap: 20px;
}



