.searchiFiler {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #0A075F;
    height: 150px;
    border-radius: 30px;
    
}

.naslovKarte {
    color: #6435D1;
    text-align: center;
}


.dugmeFilter{
    display: flex;
    padding: 40px;
    gap: 20px;
}


@media screen and (max-width: 1024px) {
    .searchiFiler {
      height: auto;
      padding: 30px;
    }
  
    .dugmeFilter {
      padding: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .naslovKarte {
      font-size: 2rem;
    }
  
    .searchiFiler {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    .dugmeFilter {
      gap: 15px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .naslovKarte {
      font-size: 1.5rem;
    }
  
    .searchiFiler {
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 20px;
    }
  
    .dugmeFilter {
      padding: 10px;
      gap: 10px;
    }
  }


